:root {
    --border-color: hsl(221 30% 90%);
    --surface-color-1: hsl(221 90% 98%);
    --surface-color-2: hsl(221 40% 100%);
    --text-color-1: hsl(221 50% 15%);
    --text-color-2: hsl(221 20% 40%);
    --shadow-highlight-color: hsl(219 62% 42% / 25%);
    color-scheme: dark light;
}

select[multiple] {
    display: none;
}

html {
    block-size: 100%;
    background-color: var(--surface-color-1);
    color: var(--text-color-1);
}

@media (pointer: coarse) {
    select[multiple] {
        font-size: max(100%, 1rem);
        padding-inline: 1ch;
        padding-block: .5ch;
    }

    select[multiple] {
        display: block;
    }

    fieldset {
        display: none;
    }
}

@media (prefers-reduced-motion: no-preference) {

}

@media (prefers-color-scheme: dark) {
    :root {
        --border-color: hsl(221 10% 20%);
        --surface-color-1: hsl(221 20% 5%);
        --surface-color-2: hsl(221 5% 10%);
        --text-color-1: hsl(221 90% 98%);
        --text-color-2: hsl(221 20% 80%);
        --shadow-highlight-color: hsl(219 50% 82% / 25%);
    }
}